doctype 5
html
  head
    title Inline Travel
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:100,300,400')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap/2.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap/2.1.1/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
        h1 Inline Travel
        hr
        block content
